/*
  ========================================
  Landing Page
  ========================================
*/
.landing {
    background-image: url("../images/landings.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}
.landing a:link {
    color: white;
    text-decoration: none;
}
.landing a:visited {
    color: white;
}
.landing a:hover {
    color: white;
}
.landing_info h1 {
    color: white;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    margin: 0;
    padding-top: 25vh;
}
.landing_info h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1em;
}
.landing_info h4 {
    color: white;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    margin: 0;
    font-size: 0.7em;
}
.landing_info h5 {
    color: white;
    text-align: center;
    text-transform: uppercase;;
    text-decoration: none;
    margin: 0;
    font-size: 0.7em;
    padding-top: 50px;
    letter-spacing: 5px;
}
/*
  ========================================
  Main and NAV
  ========================================
*/
.header-content {
    width: 100%;
    position: fixed;
    top: 0px;
    margin: 0px;
    background-color: white;
}
.nav-bottom {
    margin: 25px auto;
    background-color: white;
    list-style-type: none;
    text-align: left;
    background-size: 80% 80%;
    border-top: 1px dotted #268bd2;
    padding:0;
}
.header {
    height: auto;
    border-bottom: 1px solid #268bd2;
    border-top: 1px solid #268bd2;
    width: 60%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 3px;
}
.content {
    width: 60%;
    height: auto;
    margin: 150px auto;
}
#nav ul {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0;
}
#social ul {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 10px;
    padding: 0;
}
#social li {
    text-decoration: none;
    list-style: none;
    display: inline;
}
#nav li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-right:25px;
    font-size: 0.7em;
}
#nav li:not(:last-child) {
    border-right: 1px solid grey;
    margin-right: 20px;
    padding-right:20px;
}
#nav a:hover {
  color:#68a4cc;
}
#nav a {
  text-decoration: none;
  color: black;
}
a#selected {
  color: #68a4cc;
}
.header a {
    text-decoration: none;
    list-style: none;
    display: inline;
}
#social img {
    height: 20px;
    width: 20px;
    border: 0px solid;
}
#social img:hover {
    transform: scale(1.4);
}
body {
  text-align: center;
  font-size:1.5em;
  font-weight:400;
  font-family:"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font: 20pt;
  color:#222222;
}
hr {
  height: 2px;
  color: #ffcc99;
}
p {
  font-size: 0.8em;
  text-align: left;
  color: #2f2d2d;
}
/*
  ========================================
  About Me Page Setup
  ========================================
*/
#about-p-0 h1 {
    text-align: left;
    color: #5C9EAD;
}
#about-p-0 h3 {
    text-align: left;
}
#about-p-2 {
    border: 1px solid #91F9E5;
    padding: 20px;
    margin: 0px -20px 0px -20px;
}
#about-p-2 h3 {
    text-align: left;
}
#about-p-3 h3 {
    text-align: left;
}
#about-photo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:100%;
    padding-top: 20px;
    height: auto;
}
/*
  ========================================
  Portfolio
  ========================================
*/
.left {
    float: left;
    width: 45%;
    padding-left: 20px;
}
.right {
    float: right;
    width: 45%;
    padding-right: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 480px) {
    .left, .right {
        float: none;
        width: auto;
    }
}
#portfolio-captions {
    text-align: center;
}
/*
  ========================================
  Footer
  ========================================
*/
.copyright {
    z-index: 100;
    bottom: 2em;
    left: 2em;
    width: 25%;
    text-decoration: none;
    font-size: 1.0vw;
    margin-top: 20px;
    display: inline-block;
    float: left;
}
#signature h4 {
        font-family: 'Homemade Apple', cursive;
        width: 25%;
        float: right;
        display: inline-block;
        margin-top: 20px;
        text-align: right;
        font-size: 1.3vw;
}
